@(imageAsBase64: String)

<html>
<head>
    <title>编码已完成</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">QQHua</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">收发消息<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">我的好友</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">消息历史</a>
            </li>
        </ul>
    </div>
</nav>

<div>
    <div class="bs-component">
        <div class="jumbotron">
            <div class="center" style="text-align: center;">
                <h1 class="display-3">编码已完成</h1>
                <p class="lead">现在你可以保存下面的图片，并将它发给朋友。</p>
                <p class="lead">请注意：如果要通过微信发送图片，请务必勾选"发送原图"。</p>
                <p class="lead"><a href="/">回到首页</a></p>
                <img src="data:image/png;base64,@imageAsBase64" width="100%"/>
            </div>
        </div>
    </div>
</div>
</body>

</html>
