@main("QQ Hua") {
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css">
    <script type="text/javascript" src="/assets/javascripts/jquery-3.1.1.slim.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.bundle.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">QQHua</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">收发消息<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">我的好友</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">消息历史</a>
            </li>
        </ul>
    </div>
</nav>

<div>
    <div class="bs-component">
        <div class="jumbotron">
            <div class="center" style="text-align: center;">
                <h1 class="display-3">QQHua</h1>
                <p class="lead">用加密编码的图片传递文本信息</p>
            </div>

            <div class="card text-white bg-info mb-3 center" style="max-width: 20rem;">
                <div class="card-header">加密信息</div>
                <div class="card-body">
                    @helper.form(action = routes.EncryptController.upload, Symbol("enctype") -> "multipart/form-data") {
                    <p class="card-text">在下面输入想加密的文字</p>
                    <textarea name="message" data-minheight="50" rows="1"
                              style="width: 100%; height: 70px; resize: none;"></textarea>

                    <p class="card-text">在下面选择一个图片上传</p>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="plainImage" name="picture">
                            <label class="custom-file-label" for="plainImage">选择图片…</label>
                        </div>
                        <div class="input-group-append">
                            <input type="submit" class="input-group-text">
                        </div>
                    </div>
                    }
                </div>
            </div>

            <div class="card text-white bg-success mb-3 center" style="max-width: 20rem;">
                <div class="card-header">解密信息</div>
                <div class="card-body">
                    @helper.form(action = routes.DecryptController.upload, Symbol("enctype") -> "multipart/form-data") {
                    <p class="card-text">在下面选择上传已加密的图片文件</p>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="encodedImage" name="picture">
                            <label class="custom-file-label" for="encodedImage">选择图片…</label>
                        </div>
                        <div class="input-group-append">
                            <input type="submit" class="input-group-text">
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/javascript">
    $('.custom-file input').change(function (e) {
        if (e.target.files.length) {
            $(this).next('.custom-file-label').html(e.target.files[0].name);
        }
    });

</script>
</html>
}

