@main("QQ Hua") {
<html>
<head>
    <link rel="stylesheet" type="text/css"
          href="/assets/stylesheets/bootstrap.css">
    <script src="/assets/javascripts/jquery-3.1.1.slim.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.bundle.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">QQHua</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">收发信息<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">添加好友</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">消息历史</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">定价</a>
            </li>
        </ul>
    </div>
</nav>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">QQHua</h1>
    <p class="lead">用加密编码的图片传递文本信息</p>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">加密信息</h4>
            </div>
            <div class="card-body">
                @helper.form(action = routes.EncryptController.upload, Symbol("enctype") -> "multipart/form-data") {
                <p>在下面输入想加密的文字</p>
                <textarea name="message" data-minheight="50" rows="1"
                          style="width: 100%; height: 70px; resize: none;"></textarea>
                <hr/>
                <p>在下面选择图片文件上传</p>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" name="picture" class="custom-file-input" id="encryptFileGroup">
                        <label class="custom-file-label" for="encryptFileGroup">选择图片文件…</label>
                    </div>
                    <div class="input-group-append">
                        <input type="submit" class="input-group-text">
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">解密信息</h4>
            </div>
            <div class="card-body">
                @helper.form(action = routes.DecryptController.upload, Symbol("enctype") -> "multipart/form-data") {
                <p>在下面选择上传已加密的图片文件</p>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" name="picture" class="custom-file-input"
                               id="decryptImageInput" aria-describedby="submitDecryptImage"/>
                        <label class="custom-file-label" for="decryptImageInput">选择图片文件…</label>
                    </div>
                    <div class="input-group-append">
                        <input type="submit" class="input-group-text" id="submitDecryptImage">
                    </div>
                </div>
                }
            </div>
        </div>
    </div>

    <script type="text/javascript">
    $('.custom-file input').change(function (e) {
        if (e.target.files.length) {
            $(this).next('.custom-file-label').html(e.target.files[0].name);
        }
    });

    </script>

    <!--        <footer class="pt-4 my-md-5 pt-md-5 border-top">-->
    <!--            <div class="row" align="center">© 2020 eXtremeProgramming.cn</div>-->
    <!--        </footer>-->
</div>

</body>
</html>
}

